## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [4]:
# Your code here
sample_list_1=random.sample(range(0,100),80)
print(sample_list_1)
len(sample_list_1)

[92, 16, 19, 63, 6, 0, 13, 27, 20, 4, 68, 9, 22, 12, 73, 8, 10, 98, 2, 82, 66, 11, 46, 3, 17, 48, 65, 38, 79, 59, 30, 97, 78, 61, 87, 34, 56, 69, 45, 67, 23, 89, 86, 76, 37, 70, 28, 58, 88, 93, 64, 50, 32, 96, 41, 18, 43, 53, 1, 74, 33, 5, 62, 25, 72, 42, 29, 24, 71, 21, 94, 91, 80, 31, 99, 95, 60, 44, 90, 84]

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set1=set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [7]:
# Used URL https://pynative.com/python-random-sample/ 
sample_list_2=random.choices(range(0,100), k=80)
print(sample_list_2)
len(sample_list_2)

[14, 73, 3, 68, 27, 35, 53, 34, 48, 25, 15, 61, 59, 30, 96, 72, 71, 10, 95, 28, 58, 81, 81, 34, 86, 12, 36, 41, 78, 22, 93, 4, 95, 27, 38, 43, 77, 46, 96, 42, 41, 15, 67, 63, 28, 47, 32, 17, 49, 91, 14, 96, 74, 55, 25, 74, 13, 83, 94, 71, 79, 75, 90, 32, 62, 89, 68, 60, 31, 61, 0, 32, 49, 50, 76, 31, 39, 95, 47, 15]

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [8]:
# Your code here
set2=set(sample_list_2)
print(len(set2))

58

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [9]:
# Your code here
set3=set1-set2
print(set3)

{1, 2, 5, 6, 8, 9, 11, 16, 18, 19, 20, 21, 23, 24, 29, 33, 37, 44, 45, 56, 64, 65, 66, 69, 70, 80, 82, 84, 87, 88, 92, 97, 98, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [10]:
# Your code here
set4=set2-set1
print(set4)

{35, 36, 39, 75, 77, 14, 15, 47, 49, 81, 83, 55}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [11]:
# Your code here
set5=set1&set2
print(set5)

{0, 3, 4, 10, 12, 13, 17, 22, 25, 27, 28, 30, 31, 32, 34, 38, 41, 42, 43, 46, 48, 50, 53, 58, 59, 60, 61, 62, 63, 67, 68, 71, 72, 73, 74, 76, 78, 79, 86, 89, 90, 91, 93, 94, 95, 96}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [29]:
# Your code here
a= len(set1) # random not repeated
b= len(set2)  # random repeated
c= len(set3) # unique to set 1
d= len(set4) # unique to set 2
e= len(set5) # shared between both 
# I tried a few different things before I got the relationship. 
# a==c+e is True 
# b==d+e is True 
# a-c==e is True
# a-c==b-d is True 
# so e = a-c = b-d 
# so the length of set5 (shared values between sets 1 and 2) 
# is the same as the length of set 1 whitout values unique to set 1
# and the same as the length of set 2 without values unique to set 2
if e==a-c and e==b-d:
    print("We have found a relationship between the sets")

We have found a relationship between the sets

#### Create an empty set called `set6`.

In [42]:
# Your code here
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [43]:
# Note - the set.update function will add values of the sets defined as parameters
# However it will only add individual values, not repeat the same values
set6.update(set3,set5)
print(set6)

{0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 34, 37, 38, 41, 42, 43, 44, 45, 46, 48, 50, 53, 56, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 78, 79, 80, 82, 84, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [44]:
# Your code here
set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [46]:
set2.issubset(set1)

False

In [47]:
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [51]:
sets345=set3.union(set4,set5)
sets12=set1.union(set2)
if sets12==sets345:
    print("The aggregated values are equal")
else:
    print("The aggregated values are not equal")

The aggregated values are equal

#### Using the `pop` method, remove the first element from `set1`.

In [57]:
print(set1)
for i in range(len(set1)):
    if i==0:
        set1.pop()
        i+=1
print(set1)

{0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 34, 37, 38, 41, 42, 43, 44, 45, 46, 48, 50, 53, 56, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 78, 79, 80, 82, 84, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
{1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 34, 37, 38, 41, 42, 43, 44, 45, 46, 48, 50, 53, 56, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 78, 79, 80, 82, 84, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

In [ ]:
### not sure about this result... It says pretty much everywhere that pop removes a random element.

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [10]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
list_1=[1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 34, 37, 38, 41, 42, 43, 44, 45, 46, 48, 50, 53, 56, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 78, 79, 80, 82, 84, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
set1=set(list_1)
print(len(list_to_remove))
print(len(set1))
b=len(set1)

for i in range(len(list_to_remove)):
    if list_to_remove[i] in set1:
        print(list_to_remove[i],"is in the set")

for a in range(100):
    if a in list_to_remove:
        set1.discard(a)
        
print(i)
print(set1)
print(len(set1))

20
79
1 is in the set
9 is in the set
11 is in the set
19 is in the set
21 is in the set
29 is in the set
31 is in the set
41 is in the set
59 is in the set
61 is in the set
69 is in the set
71 is in the set
79 is in the set
89 is in the set
91 is in the set
99 is in the set
19
{2, 3, 4, 5, 6, 8, 10, 12, 13, 16, 17, 18, 20, 22, 23, 24, 25, 27, 28, 30, 32, 33, 34, 37, 38, 42, 43, 44, 45, 46, 48, 50, 53, 56, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 76, 78, 80, 82, 84, 86, 87, 88, 90, 92, 93, 94, 95, 96, 97, 98}
63

## So the solution I found was to 'force' the range to 100, because the length of the set is not long enough to serve as a range, and I didn't find a way to call items in the set.